body{
  margin:0 auto;
  color:white;
  text-align:center;
}
button{
  border-radius:4px;
}
/*--------
header
--------*/
header{
  background-color:aqua;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  height:120px;
}
h1{
  margin:0;
}
.detail{
  margin-left:20px;
}
.detail a{
  text-decoration:none;
  color:azure;
}
a:hover{
  color:cornflowerblue;
}
/*-------
main
--------*/
main{
  background-color:cadetblue;
  height:500px;
  padding-top:10px;
  text-align:center;
  display:flex;
}

.mainContent button,.mainContent{
  height:50px;
  width:50px;
  color:white;
  cursor:cell;
}

.mainContent{
  min-width:462px;
  margin:0 auto;
}
/*--------
footer
--------*/
footer{
  background-color:cornflowerblue;
  height:200px;
}